{% extends "index.html" %}
<!--comment afficher sur toutes les pages-->

{% block title %}sammy{% endblock %}

{% block header %}
		<header>Sammy Lay</header>
        <nav id="nav1"><!--nav1 (liens/image)-->
			<ul>
				<li><a href="index.html">Accueil</a></li>
				<li><a href="cv.html">Qui suis-je ?</a></li>
				<li><a href="motivation.html">Mon intérêt pour l'informatique</a></li>
				<li><a href="examens.html"> Mes résultats d'examens</a></li>
				<li><a href="rapports de stages.html"> Mes rapports de stages</a></li>
				<li><a href="travaux actuels.html">Mes travaux actuels</a></li>
				<li><a href="notes scolaires.html"> Mes notes scolaires</a></li>
				<li><a href="mailto:sa56@hotmail.ch">Envoyez moi un e-mail</a></li>
				<li><a href="avis.html">Donnez- moi votre avis</a></li>
			</ul>
		</nav>
{% endblock header %}

<!--{% block page_title %}salut{% endblock page_title %}

{% block content %}
<p>hello</p>
{% endblock content %}

<!--{% block image %}<img src='http://www.epfl.ch/img/logo.png'>{% endblock image %}-->

{% block footer %}
<footer>
        <p>
          Suivez-moi sur: <a href="https://twitter.com/tyrog236" target="_blank"><img src="twitter.png"></a>  <a href="http://www.youtube.com/channel/UCdmJ3t-0tL4jUYqg7P2leIQ"  target="_blank"><img src="youtube.png"></a>  <a href="https://www.facebook.com/sammy.lay.37" target="_blank"><img src="facebook.png"></a>
        </p>
    </footer>
{% endblock footer %}