{% extends "base.html" %}

{% load staticfiles %}
{% block title %}Accueil{% endblock title %}

{% block extra_css %}
<style>
#nav1 {
background-image: url('{% static "img/new-halo-odst-wallpaper.jpg" %}');
}
</style>
{% endblock %}


{% block content %} 
            <!--div1 (text principal)-->
			<ol id="exa">
				<li><a href="multi-check" target="_blank">multi-check TIC</a><br>
				<li><a href="BRI" target="_blank">examen BRI</a><br>
			</ol><br><br><br>
                        <p><b>Tests effectues sans preparation ni revision</b></p>
{% endblock content %}
{% block image_droite %}<img src="../static/img/new-halo-odst-wallpaper-retourne.jpg">{% endblock image_droite %}