<!DOCTYPE html>
<html>
<head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <title>GYMNASE</title>
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="sammy.css" />	
</head>
<body>
    <div id="content">
            <!--div1 (text principal)-->
	<p>
		<img src="../static/img/GYM1.jpg"  id="bri" />
	</p>
</div>
        <div id="autre"></div>
    </div>
</body>
</html>